<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Películas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <!-- EL debounce es el tiempo que tiene de emitir el evento cuando una persona escribe para buscar
  es para que no busque con cada letra que escribas o borres -->
  <ion-searchbar placeholder="Buscar Película" animated [debounce]='700' (ionChange)="buscar($event)"
    [value]='textoBuscar'></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-list-header>
    <ion-label>Ideas</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label color='primary'>Spiderman</ion-label>
  </ion-item>

</ion-list>
</ion-content>